@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&family=Old+Standard+TT&display=swap');

:root {
  --red: rgb(172, 56, 56);
}

#loginPage h1 {
  font-family: 'Old Standard TT', serif;
  font-size: 5rem;
}

#loginPage button {
  font-family: 'Special Elite', cursive;
  font-size: 1.5rem;
  border: none;
  padding: 0.5rem 0rem;
} 

#loginPage {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40%;
}

#loginPage .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}