#profilePage h1 {
    text-align: center;
}

#profilePage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#myInfo > div {
  margin: 1rem
}
#card {
  width: 25rem;
  height: 10rem;
  background-color: yellow;
}

#collection {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* grid-template-columns: 1fr 1fr 1fr; */
}